<app-header></app-header>
<app-sidebar></app-sidebar>
<app-main-wrapper>
  <h1>Alumnos</h1>
  <my-p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Eligendi tempore eius quos dicta quam nemo sit mollitia accusamus
    odit laborum nostrum magnam quibusdam aspernatur illo, distinctio et veniam dolorem aut.</my-p>
  <h1>Profesores</h1>
  <my-p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Eligendi tempore eius quos dicta quam nemo sit mollitia accusamus
    odit laborum nostrum magnam quibusdam aspernatur illo, distinctio et veniam dolorem aut.</my-p>
  <h1>Egresados</h1>
  <my-p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Eligendi tempore eius quos dicta quam nemo sit mollitia accusamus
    odit laborum nostrum magnam quibusdam aspernatur illo, distinctio et veniam dolorem aut.</my-p>
  <h1>Valores</h1>
  <my-p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Eligendi tempore eius quos dicta quam nemo sit mollitia accusamus
    odit laborum nostrum magnam quibusdam aspernatur illo, distinctio et veniam dolorem aut.</my-p>

</app-main-wrapper>